<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Hello Amaze UI</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link href="http://cdn.amazeui.org/amazeui/2.1.0-beta1/css/amazeui.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.amazeui.org/amazeui/2.1.0-beta1/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.1.0-beta1/js/amazeui.legacy.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.1.0-beta1/js/amazeui.widgets.helper.min.js"></script>
</head>
<body>
    <header id="amz-header">
        <div class="amz-container am-cf">
            <h1><a href="../">Amaze UI</a></h1>
            <button class="am-btn am-btn-primary am-show-sm-only" data-am-collapse="{target: '.amz-header-nav'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>
            <nav>
                <ul class="amz-header-nav am-collapse">
                    <li><a href="../getting-started">开始使用</a></li>
                    <li><a href="../css">CSS</a></li>
                    <li><a href="../javascript">JS 插件</a></li>
                    <li class="am-active"><a href="../widgets">Web 组件</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--在这里编写你的代码-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <![endif]-->
</body>
</html>
