
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理</title>
    <link href="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/Flat-UI/css/flat-ui.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="login-screen">
                <div class="login-icon">
                    <img src="~/Scripts/Flat-UI/images/login/icon.png" alt="Welcome to Mail App" />
                    <h4>Welcome to <small>My App</small></h4>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="Enter your name" id="login-name">
                        <label class="login-field-icon fui-man-16" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
                        <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                    </div>

                    <a class="btn btn-primary btn-large btn-block" href="#">登录</a>
                    <a class="login-link" href="#">忘记密码?</a>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>
